/* $Id: accessible_content_themer.css,v 1.1 2009/12/02 16:34:45 kevee Exp $ */ 
#ac-themer-toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 3px 5px;
  background: #fff;
  color: #008;
  cursor: pointer;
  z-index: 10002;
  font-size: 13px;
  background-color: #333;
  opacity: .9;
  color: #FFF;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

#ac-themer-toggle a{
	color: #ffffff;
	font-weight: bold;
}