/* $Id: menu-block-admin.css,v 1.2 2008/12/01 09:56:56 johnalbin Exp $ */

#menu-block-settings .form-item
{
  padding-left: 200px;
}

#menu-block-settings .form-checkboxes .form-item,
#menu-block-settings .form-radios .form-item
{
  padding-left: 0;
}

#menu-block-settings .form-item label
{
  float: left;
  width: 190px;
  margin-left: -200px;
  margin-right: 10px;
  text-align: right;
  _display: inline-block; /* IE6 is dumb. */
}

#menu-block-settings .form-item label.option,
.form-item #edit-parent-menu-wrapper label,
.form-item label#item-label,
#edit-follow-parent-wrapper.form-item label
{
  float: none;
  width: auto;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.form-item #edit-parent-menu-wrapper
{
  padding-left: 0;
  margin: 0;
}

.form-item #edit-parent-menu-wrapper label,
.form-item label#item-label
{
  _display: block; /* IE6 is dumb. */
  font-weight: normal;
  font-style: italic;
}

#edit-follow-parent-wrapper.form-item label
{
  display: inline;
  font-weight: normal;
}

#expanded-wrapper strong,
#sort-wrapper strong
{
  float: left;
  width: 190px;
  margin-left: 0;
  margin-right: 10px;
  text-align: right;
}

#expanded-wrapper fieldset .form-item,
#sort-wrapper fieldset .form-item
{
  display: inline;
  margin-left: 0;
  padding-left: 0;
}

#expanded-wrapper fieldset .form-item .description,
#sort-wrapper fieldset .form-item .description
{
  display: block;
  margin-left: 200px;
}
