/* $Id: oer.css,v 1.0 $ */

#ac-themer-toggle { display: none; }

/** body **/
body {
    margin: 0;
    padding: 0;
    background: #b4c5d5;
    height: 100%;
}
a {
	color:#1B335C;
	text-decoration: underline;
}
a:hover {
	color:#996633;
}
:active, :focus{
    outline:none;
}

p.introSection a {
	color:#996600;
	text-decoration:none;
}
img.left {
	float:left;
	margin:0 10px 10px 0;
	clear: left;
}

 #contact-mail-page .form-submit, #webform-client-form-258 .form-submit {
   background: transparent url(images/button-send.png) no-repeat center top;
   text-indent: -1000em;
   border: 0;
   padding: 0;
   width: 79px;
   height: 20px;
   cursor: pointer; /* hand-shaped cursor */
 }
 /********************************************************************
  * this definition MUST follow the previous one, since the user "alter_hook"
  * generates the cancel form with both the "class" of "form-submit" and
  * "form-cancel".  If this precedes the "form-submit" definiton, you'll
  * see 2 "send email" buttons.  The last "format" instructions win!  bdr
  ********************************************************************/
 #contact-mail-page .form-cancel, #webform-client-form-258 .form-cancel {
   background: transparent url(images/button-cancel.png) no-repeat center top;
   text-indent: -1000em;
   border:  0;
   padding: 0;
   width: 53px;
   height: 20px;
   cursor: pointer; /* hand-shaped cursor */
 }

 #content-header .tabs {
 	margin-bottom: 30px;
 }
.form-item .description p {
 	color: #999 !important;
 }
 #webform-component-i_would_like_a_response label {
 	float: left;
 	margin: 0 5px 20px 0;
 }
 .webform-component-textfield {
 	clear: left;
 }
 #webform-client-form-258 span.form-required {
 	display: none;
 }
 fieldset {
 	margin: 0;
 	padding: 0;
 	border: 0;
 }

/*** Set the page, main & footer for full width background ***/
#page, #main, #footer {
	width: 100%;
	min-width:980px;
	margin: 0;
	padding: 0;
	text-align:left;
}
.front #content-inner {
	padding: 0;
}
.front #content-inner p.intro {
	margin-right: 30px;
}

/*** specifics for above styles ***/
#page {
	background: url(images/header_bg2.jpg) top center repeat-x;
}
#main {
	background: #FFF url(images/content_bg.gif) left bottom repeat-x;
	color:#444444;
	min-height:139px;
	padding-bottom:2em;
	float: left;
}
#footer {
	background: #b4c5d5 url(images/footer_bg.jpg) center top repeat-x;
	clear:both;
	padding: 60px 0 60px;
}


/*** Set the main areas to a fixed width layout ***/
#header {
	height: 200px;
}
#header, #main-inner, #footer-inner {
	width: 980px;
	margin: 0 auto;
	color: #1b335c;
}
#footer-inner {
	height: auto;
}


/*** Header Styles ***/
#skip-to-nav {
	text-indent: -1000em;
}
#logo {
	float:left;
	margin: 25px 0 0 10px;
}
#header {
	position: relative;
}
/* Social */
#header #block-block-4 {
	position: absolute;
	right: 260px;
	top: 2px;
}

a.social {
	float: left;
	display: block;
	margin: 0 4px 0 0;
	text-decoration: none;
	font-size: 85%;
}
a.social:hover {
	position: relative;
	outline: none;
}

a.social span {
	display: none;
	padding:2px 3px;
	margin-left:2px;
	text-align:center;
	width: 130px;
}

a.social:hover span {
	display: block;
   	position: absolute;
   	z-index:100;
   	top: 30px;
   	left: -10px;
   	background:#ffffff;
   	border:1px solid #1b335c;
   	color:#1b335c;
}

/* Search */
#header #block-search-0 {
	position: absolute;
	right: 0;
	top: 16px;
	font-size:85%;
}
#header #block-search-0 input#edit-search-block-form-1 {
	border:1px solid #A3ACB5;
	font-size:150%;
	margin: 0 50px 0 0;
	padding:2px;
	width:200px;
}
#header #block-search-0 input#edit-submit, #header #block-search-0 input#edit-submit-1, #header #block-search-0 input#edit-submit-2 { 
	width: 50px;
	height: 25px;
	margin: 1px 0 0 5px;
	padding: 0;
	border: 0;
	background: transparent url(images/search.gif) no-repeat center top;
	text-indent: -1000em;
	cursor: pointer; /* hand-shaped cursor */
	font-size: 0px;
	display:block;
	line-height: 0px;
	position: absolute;
	top: 0;
	right: 0;
 }

/* Label that says "Search:" */
#edit-search-block-form-1-wrapper label {
        display: none;
}

 #search-form .spelling-suggestions label {
        display: inline;
 }

 /* apachesolr search customizations */
.block-oer_tweaks ul,
.block-apachesolr ul {
        list-style: none;
 }





/* primary nav */
#header #block-menu_block-2 {
	/*background: #e8f0f3;*/
	padding: 0;
	position: absolute;
	top: 100px;
	float: left;
	left: 0;
	width: 100%;
}
#header #block-menu_block-2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#header #block-menu_block-2 ul li {
	margin: 0;
	padding: 0;
	display: inline;
}
#header #block-menu_block-2 ul li a {
	float: left;
	display: block;
	padding: 5px 10px;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
	font-size:115%;
	margin: 0 1px 0 0;
}
#header #block-menu_block-2 ul li a:hover, 
#header #block-menu_block-2 ul li a.active,
#header #block-menu_block-2 ul li a:hover.active, 
a.active-trail {
	color: #996633;
	text-decoration: none;
	background: url(images/bg-primarynav.png);
}
#header #block-menu_block-2 ul li a:hover.active {
	color: #996633 !important;
	background: url(images/bg-primarynav.png) !important;
}
.front  #header #block-menu_block-2 ul li a.active {
	background: none;
	color:#1B335C;
}
.section-education #header #block-menu_block-2 ul li.menu-mlid-1210 a {
	color: #996633;
	text-decoration: none;
	background: url(images/bg-primarynav.png);
}


/*** Left & Right Side / Side Navigation ***/
#sidebar-left-inner ul.menu, 
#sidebar-left-inner ul.menu ul,
#sidebar-left-inner .view-content .item-list ul, 
#sidebar-left-inner .view-content .item-list ul ul,
#sidebar-left-inner #block-navigation-navigation .item-list ul, 
#sidebar-left-inner #block-navigation-navigation .item-list ul ul {
	margin: 0;
	padding: 0;
	list-style: none !important;
}
#sidebar-left-inner ul.menu,
#sidebar-left-inner .view-content .item-list ul,
#sidebar-left-inner #block-navigation-navigation .item-list ul {
	border-top: 2px solid #C9CBD7;
	border-bottom: 2px solid #C9CBD7;
	padding: 10px 0;
	margin: 0 0 20px 0;
}
ul.navigation-schools-colleges {
	border-bottom: 0 !important;
	margin: 0 !important;
	padding-bottom: 0 !important;
}
ul.navigation-academic-units {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}
ul.navigation-current-unit, ul.navigation-top-unit {
	border-top: 0 !important;
	padding-top: 0 !important;
}
ul.navigation-current-unit li ul {
	margin-bottom: 15px !important;
}
#sidebar-left-inner ul.menu ul,
#sidebar-left-inner .view-content .item-list ul ul,
#sidebar-left-inner #block-navigation-navigation .item-list ul ul {
	border: 0;
}
#sidebar-left-inner ul.menu ul ul,
#sidebar-left-inner .view-content .item-list ul ul ul,
#sidebar-left-inner #block-navigation-navigation .item-list ul ul ul {
	margin: 0 0 10px 0;
}
#sidebar-left-inner ul.menu li,
#sidebar-left-inner .view-content .item-list ul li,
#sidebar-left-inner #block-navigation-navigation .item-list ul li {
	margin: 0;
	padding: 0;	
	list-style: none
}
#sidebar-left-inner ul.menu li a,
#sidebar-left-inner .view-content .item-list ul li a,
#sidebar-left-inner #block-navigation-navigation .item-list ul li a {
	display: block;
	padding: 5px 0 5px 10px;
	margin: 0 0 1px 0;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
	font-size:110%;
}
#sidebar-left-inner ul.menu li li a,
#sidebar-left-inner .view-content .item-list ul li li a,
#sidebar-left-inner #block-navigation-navigation .item-list ul li li a,
#sidebar-left-inner #block-navigation-navigation .item-list ul.navigation-current-unit li a {
	display: block;
	padding: 2px 0 5px 18px;
	text-transform: lowercase;
	font-weight: normal;
	font-size:100%;
	line-height: 13px;
	background: url(images/bg-sidenav-arrow.png) 10px 7px no-repeat;
}
#sidebar-left-inner #block-navigation-navigation .item-list ul.navigation-current-unit li li a {
	display: block;
	padding: 5px 0 5px 18px;
	text-transform: lowercase;
	font-weight: normal;
	font-size:90%;
	background: none;
}
#sidebar-left-inner ul.menu li li li a,
#sidebar-left-inner .view-content .item-list ul li li li a,
#sidebar-left-inner #block-navigation-navigation .item-list ul li li li a {
	background: none !important;
	font-size: 90%;
}
#sidebar-left-inner ul.menu li a:hover, 
#sidebar-left-inner ul.menu li a.active,
#sidebar-left-inner .view-content .item-list ul li a:hover, 
#sidebar-left-inner .view-content .item-list ul li a.active,
#sidebar-left-inner #block-navigation-navigation ul li a:hover, 
#sidebar-left-inner #block-navigation-navigation ul li a.active, 
#sidebar-left-inner #block-navigation-navigation ul.navigation-academic-units li a {
	color: #996633;
	text-decoration: none;
	background: url(images/bg-primarynav.png);
}
#sidebar-left-inner ul.menu li li a:hover, 
#sidebar-left-inner ul.menu li li a.active,
#sidebar-left-inner .view-content .item-list ul li li a:hover, 
#sidebar-left-inner .view-content .item-list ul li li a.active,
#sidebar-left-inner #block-navigation-navigation ul li li a:hover, 
#sidebar-left-inner #block-navigation-navigation ul li li a.active {
	background-position: 10px -58px;
}


#sidebar-right-inner p a {
	font-size: 80%;
	text-decoration: none;
}
#sidebar-right-inner a:hover {
	text-decoration: underline;
}
#sidebar-right-inner h3.shaded {
	background: #E2E9EF url(images/bg-primarynav.png);
	padding: 4px 10px;
}
#sidebar-right-inner a {
	text-decoration: none;
}

#block-revisioning-0 h2 {
	border: 2px solid #FFFF77;
	font-size: .95em;
	background: #FFFFCC url(images/arrow-revisions.png) right center no-repeat;
	padding: 0;
}
#block-revisioning-0 h2 a {
	text-decoration: none;
	display: block;
	padding: 5px 7px;
}

#block-revisioning-0 .edit {
	margin: -20px 0 0 0;
}



/*** course navigation - tabs ***/
ul.tabs li a {
	font-weight: normal !important;
	font-size: 85% !important;
}
#block-course-course-navigation {
	margin-bottom:30px;
	background:url("/sites/all/themes/zen/zen/images/tab-bar.png") repeat-x scroll left bottom transparent;
	float: left;
	width: 100%;
}
#block-course-course-navigation ul.course-navigation {
	list-style:none;
	margin:0;
	padding:0;
}
ul.course-navigation li {
	float:left;
	margin:0;
	padding:0 0 0 5px;
	display:inline;
	background:url("/sites/all/themes/zen/zen/images/tab-left.png") no-repeat scroll left -38px transparent;
}
ul.course-navigation li a {
	color:#1B335C;
	float: left;
	display:block;
	font-weight:bold;
	height:20px;
	margin:0;
	padding:4px 13px 0 6px;
	line-height:20px;
	text-decoration:none;
	background:url("/sites/all/themes/zen/zen/images/tab-right.png") no-repeat scroll right -38px transparent;
}
ul.course-navigation li:hover {
	background-position: left -76px;
}
ul.course-navigation li a:hover {
	background-position: right -76px;
	color: #996633;
}
ul.course-navigation li.active, ul.course-navigation li.active:hover {
	background-position: left 0;
}
ul.course-navigation li.active a, ul.course-navigation li.active a:hover {
	background-position: right 0;
	color: #996633;
}
ul.course-navigation li.empty a {
	color: #999 !important;
}


#block-course-course-navigation .help {
	margin: -20px 0 0 0;
	font-size: 80%;
	color: #666;
	position: relative;
	top: -10px;
	border: 1px solid #CACACA;
	border-top: 0;
	padding: 2px 10px;
}




.view-materials-links h3, .view-sessions-links h3 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}
a.jumplink {
	font-weight: normal;
	text-decoration: none;
	background: url(images/bg-sidenav-arrow.png) 0 5px no-repeat;
	display: block;
	padding: 0 0 0 10px;
}
caption h3 {
	margin: 0;
}


.view-open-blog ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.view-open-blog ul li {
	margin: 0 0 5px;
	padding: 0 0 5px;
	list-style: none;
	border-bottom: 1px solid #DFE6ED;
}
.view-open-blog ul li a {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 90%;
}
.view-open-blog ul li .views-field-timestamp .field-content {
	color: #666;
	font-size: 80%;
}

/*** Content Styles ***/
.breadcrumb {
	font-size: 90%;
	text-transform: lowercase;
}
.breadcrumb a {
	font-size: 100%;
	color: #996633;
	text-decoration: none;
}
#content {
	color: #444444;
}
.front #content {
	margin-top: 0;
}
p {
	line-height:1.3em;
	margin:0 0 1em;
	color: #444444;
}
.introSection {
	color: #444444;
	font-size: 1.6em;
	margin: 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
	color:#1B335C;
	margin:0 0 0.5em;
}
#content h1, #content h2 {
	font-weight:normal;
	margin-bottom:0.4em;
}
#content h2 {
	color:#0056AE;
	font-size:150%;
	font-weight:bold;
}



/* NODE PAGE STYLES */
.content-page, .content-course {
	margin-bottom: 20px;
	min-height:115px;
	width:418px;
	float: left;
}
.content-course {
	width:500px;
}
.content-course .dates, .content-course-full .dates {
	padding: 0 0 20px 0;
	font-size: 90%;
	width: 100%;
	margin: 0 0 20px 0;
	float: right;
}
table.courseinfo {
	margin: 0 0 15px 0;
}
table.courseinfo td {
	margin: 0;
	padding: 0 40px 0 0;
	font-size: 90%;
}


.view-overview, .view-sessions, .view-materials {
	clear: both;
}

/*** Course Download ***/
.course-download a {
	display: block;
	background: url(images/download2.jpg) no-repeat;
	padding: 2px 0 5px 25px;
	/*margin: 0;
	font-size: 90%;
	line-height: 80%;
	width: 130px;
	position: absolute;
	top: -13px;
	right: 0;
	text-decoration: none;*/
}


/* Image */
.imgCapR, .course-image {
	float: right;
	width:318px;
	margin:0 0 20px 20px;
}
/*#image-course { width: 218px; }*/
.imgCapR img, .course-image img {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #91A5C3;
	display:block;
	padding:8px;
}
.page-share-use .imgCapR img, 
.page-share-share .imgCapR img, 
.page-connect-community .imgCapR img,
.page-connect-projects .imgCapR img {
	border:0;
	padding:0;
}
.page-connect-projects .imgCapR, .page-connect-services .imgCapR {
	width: auto;
}
.imgCapR p, .course-image p {
	font-size: 80%;
	margin:10px 0 0;
	color: #666;
}
.imgCapR a, .course-image a {
	text-decoration:none;
}.imgCapL {
	float: left;
	margin: 0 0 2em 2em;
}

.imgCapL p {
	font-size: x-small;
	margin-bottom: 0;
}

.imgCapL a {
	font-size: x-small;
	text-decoration: none;
}

.imgCapList {
	margin: 1em 1em 2em 2em;
}

.imgCapList p {
	font-size: x-small;
	margin-bottom: 0;
}

.imgCapList a {
	font-size: x-small;
	text-decoration: none;
}



.coursefooter {
	clear: both;
	padding: 20px 0 0 0;
}



/* group links */

ul.groupLinks {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	/*background: white;*/
}

ul.groupLinks li {
	float: left;
	margin: 0 3px 5px 0;
	padding: 0px;
	background: url(images/grouplinks_bg.gif) bottom left repeat-x;
	/*border-right: 3px solid white;*/
}

ul.groupLinks li.lc {
}

ul.groupLinks li a {
	display: block;
	padding: 2px 8px;
	text-decoration: none;
	font-size: 82%;
	border: 1px solid #a6b6cf;
}

ul.groupLinks li a.lc {
}

ul.groupLinks li a.ext, a.ext {
	background: url(images/ext.gif) center right no-repeat;
	padding-right: 23px;
}

ul.groupLinks li a.pdf {
	background: url(images/pdf.gif) center right no-repeat;
	padding-right: 24px;
}

#content-bottom {
	clear: both;
}
.course-keywords {
	font-size: 80%;
	margin: 10px 0;
}

.nodereferrer-links a {
	display: block;
	border: 1px solid #c0c0c0;
	background: #ededed url(images/button-add.png) 3px 8px no-repeat;
	padding: 2px 5px 2px 15px;
	margin: 0 5px 10px 0;
	float: left;
	font-size: 85%;
	text-decoration: none;
}
.nodereferrer-links a:hover {
	background-color: #FFF;
}
.nodereferrer-links br {
	display: none;
}



#block-block-15 ul {
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
}
#block-block-15 ul li {
	margin: 0;
	padding: 0;
}
#block-block-15 ul li a {
	display: block;
	border: 1px solid #c0c0c0;
	background: #ededed url(images/button-add.png) 3px 8px no-repeat;
	padding: 2px 5px 2px 15px;
	margin: 0 0 10px 0;
	font-size: 85%;
	text-decoration: none;
}
#block-block-15 ul li a:hover {
	background-color: #FFF;
}
.unpublished {
	color: red;
}

a.unpublished {
	color: #999 !important;
}



/*** Materials Table View ***/
.view-materials table.views-table,
.view-materials-embed table.views-table {
	width: 100% !important;
}
.view-materials table.views-table caption,
.view-materials-embed table.views-table caption {
	text-align: left;
	font-weight: bold;
	background: #CEDDE4;
	border-bottom:1px solid #97A6C7;
	padding: 7px 10px;
	margin: 0 0 20px;
}
.view-materials table.views-table th,
.view-materials-embed table.views-table th {
	text-align: left;
	font-weight: bold;
	font-size: 90%;
	color: #333;
	border-bottom: 1px solid #CCC;
	background: #eaeaea;
}
.view-materials table.views-table tbody tr,
.view-materials-embed table.views-table tbody tr {
	font-size: 85%;
	background: none;
}
.view-materials table.views-table tbody tr td,
.view-materials-embed table.views-table tbody tr td {
	padding: 5px 5px 5px 0;
}
.view-materials table.views-table th.views-field-title,
.view-materials-embed table.views-table th.views-field-title {
	width: 45%;
}
.view-materials table.views-table th.views-field-field-creators-value,
.view-materials-embed table.views-table th.views-field-field-creators-value {
	width: 20%;
}
.view-materials table.views-table th.views-field-title.views-field-field-file-fid,
.view-materials-embed table.views-table th.views-field-title.views-field-field-file-fid {
	width: 20%;
}
.view-materials table.views-table th.views-field-title.views-field-license-uri,
.view-materials-embed table.views-table th.views-field-title.views-field-license-uri {
	width: 10%;
}
.view-materials table.views-table th.views-field-edit-node,
.view-materials-embed table.views-table th.views-field-edit-node {
	width: 5%;
	/*font-size: 75%;*/
}
.view-materials-embed table.views-table td.views-field-edit-node,
.view-materials table.views-table td.views-field-edit-node {
	font-size: 85%;
}

td.views-field-field-creators-value .field-item {
	display: block;
	float: none;
	line-height: 115%;
	margin: 2px 0 8px 0;
}
/*.view-materials table.views-table tbody tr td .filefield-icon {
	display: none;
}
.view-materials table.views-table tbody tr td .filefield-file {
	float: left;
}
.view-materials table.views-table tbody tr td .filefield-file a {
	display: block;
	text-indent: -100000em;
	width: 25px;
	height: 25px;
}
.view-materials table.views-table tbody tr td .filefield-file a {
	background: url(images/icon-pdf.png) no-repeat;
}*/



/*** Sessions View ***/
.view-sessions-links {
	margin: 0 0 20px 0;
}
.view-sessions .views-row {
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
}
.view-sessions .views-field-title {
	text-align: left;
	font-weight: bold;
	background: #CEDDE4;
	border-bottom:1px solid #97A6C7;
	padding: 7px 10px;
	margin: 0 0 20px;
	color: #1B335C;
}
.view-sessions .field-item {
	margin-bottom: 10px;
}
.view-sessions .views-field-field-video-embed {
	margin-bottom: 10px;
}


/*** FOOTER ***/
#footer-inner {
	position: relative
}
#footer a {
	font-size: 100%;
	text-decoration: none;
}
#footer {
	font-size: 80%;
}
#footer p {
	color: #222;
}
#footer #block-block-1 {
	float: left;
}
#footer #block-block-9 {
	float: left;
	margin-left: 115px;
	text-align: center;
}
#footer #block-block-3 {
	float: right;
	margin: 0;
	padding: 0;
}
#footer #block-block-2 {
	float: right;
	margin:3px 0 0 0;
	padding:0;
	width:325px;
}
#footer #block-menu-menu-footerlinks {
	clear: both;
	position: absolute;
	top: 35px;
	left: 0;
}
#footer #block-menu-menu-footerlinks ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer #block-menu-menu-footerlinks ul li {
	margin: 0;
	padding: 0 3px;
	display: inline;
	border-left: 1px solid #999;
	line-height: normal;
}
#footer #block-menu-menu-footerlinks ul li.first {
	padding-left: 0;
	border-left: 0;
}



/*** FRONT/HOME page styles ***/
.front h1 { display:none; }
#buttons {
	margin-top: 2em;
	margin-left: 0;
}

.buttonBox {
	border: 1px solid #a6b6cf;
	float: left;
	width: 177px;
	padding: 10px;
	background: #ffffff url(images/thumb_bg.jpg) top left repeat-x;
	text-align: center;
	margin-right: 40px;
}
#buttons .last {
	margin-right: 0;
}
.buttonBox img {
	border: 1px solid #a6b6cf;
	margin: 13px 0 0;
}
.buttonBox p {
	text-align: left;
	color: #1b335c;
	margin: 0 0 0 4px;
	font-size: 110%;
}


.buttonBox a {
	outline: none;
}

.button {
	width: 100%; 
	display: block;
	font-family:Helvetica,Arial,Sans-serif;
	font-size: 27px;
	font-weight: bold;
	padding: 20px 0px;
	text-align: center;
	margin: 0 0 20px;
}

#find_button {
	background: #66a22a url(images/find-gradient.png) repeat-x scroll 0 0;
	border: 1px solid #89d937;
	text-shadow: 0 1px 0 #666666;
}

a#find_button {
	text-decoration: none;
	outline: none;
	color: #EEEEEE;
}

#find_button:hover {
	background-position: 0 -10px;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #333333;
}

#find_button:active {
	background-image: none;
}

#share_button {
	background: #5c80c6 url(images/share-gradient.png) repeat-x scroll 0 0;
	border: 1px solid #75a3fe;
	text-shadow: 0 1px 0 #666666;
}

a#share_button {
	text-decoration: none;
	outline: none;
	color: #EEEEEE;
}

#share_button:hover {
	background-position: 0 -10px;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #333333;
}

#share_button:active {
	background-image: none;
}

#connect_button {
	background: #e0b217 url(images/connect-gradient.png) repeat-x scroll 0 0;
	border: 1px solid #ffcc1a;
	text-shadow: 0 1px 0 #666666;
}

a#connect_button {
	text-decoration: none;
	outline: none;
	color: #EEEEEE;
}

#connect_button:hover {
	background-position: 0 -10px;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #333333;
}

#connect_button:active {
	background-image: none;
}

.buttonBox a {
	text-decoration: none;
	color: #996600;
}

.buttonBox a:hover {
	text-decoration: underline;
}



p.xsmall {
	font-size: x-small;
}

p.xsmall a {
	font-size: x-small;
	text-decoration: none;
}

blockquote {
	margin: 0 2em 1em 2em;
}

.recentPost {
	margin-top: 4px;
	padding: 2px 0;
	border-top: 1px solid #e5edf2;
	font-size: 0.85em;
}

.recentPost a {
	text-decoration: none;
}

#blogPic {
	float: right;
	padding: 0 0 1em 1em;
	width: 66px;
	background: #fff;
}
/* :::::::::: PRINT ONLY :::::::::: */

#printContent {
	display: none;
}



dt {
	margin: 0 0 .2em 0;
}

dd {
	margin: 0 0 1em 1.5em;
}

hr {
	height: 1px;
	font-size: 1px;
	margin: 0 0 12px 0;
	padding: 0;
	border: none;
	background: #9daeca;
	clear: right;
}

p.intro {
	font-size: 1.4em;
	margin: 0 0 1em;
}

p.intro a {
	font-size: 1em;
	color: #996600;
	text-decoration: none;
}

p.intro a:hover {
	text-decoration: underline;
}

p.introSection {
	font-size: 1.4em;
	margin: 0 0px 1em 0px;
	color: #444444;
}

p.introSection a {
	font-size: 1em;
	color: #996600;
	text-decoration: none;
}

p.introSection a:hover {
	text-decoration: underline;
}

p.top {
	clear: left;
	text-transform: uppercase;
	margin-top: 2em;
}

p.top a {
	display: block;
	font-size: 85%;
	text-decoration: none;
	padding-left: 11px;
	background: url(images/top-off.gif) 0 0.5em no-repeat;
}

p.top a:hover {
	background: url(images/top-on.gif) 0 0.5em no-repeat;
}


#content-top {
	position: relative;
}
#block-print-0, #block-node-0, #block-block-11, #block-course-course-feed, #block-block-12 {
	position: relative;
	right: 0;
	top: 0;
}
#block-print-0 span, #block-node-0 a, #block-block-11 span, #block-course-course-feed span, #block-block-12 span {
	float: right;
}
#block-node-0 a, #block-block-11 span, #block-course-course-feed span, #block-block-12 span {
	display: block;
	margin-left: 1em;
}
div#block-print-0 div.edit, div#block-node-0 div.edit, div#block-block-11 div.edit, #block-course-course-feed div.edit, #block-block-12 div.edit {
	top: -20px !important;
}



/*** Find page ***/

#search-course-form label {
	font-weight: bold;
}
#search-course-form input.input-text {
	width: 400px;
}

#search-course-form input.search-button { 
	margin: 0;
	position: relative;
	top:6px;
 }


.view-id-find .view-content .views-row {
	clear: left;
}
.view-id-find .view-content .views-row .views-field-field-course-image-fid {
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #a6b6cf;
	padding: 0;
	height: 100px;
	width: 100px;
}
.view-id-find .view-content .views-row .views-field-field-course-image-fid span {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.view-id-find .view-content .field-content a.title {
	font-weight: bold;
	font-size: 110%;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}
.view-id-find .view-footer {
	clear: left;
	margin: 30px 0 0 0;
}
.view-id-find .view-footer a {
	font-weight: bold;
	font-size: 110%;
	text-decoration: none;
}



/*** School/College page ***/
.content-course-full .unit-course-list, 
.content-course .unit-course-list {
	margin: 30px 0 0 0;
}
.content-course-full .unit-course-list .view-courses ul, 
.content-course .unit-course-list .view-courses ul {
	margin: 0 0 40px 0;
	padding: 0;
	list-style: none;
}
.content-course-full .unit-course-list .view-courses ul li, 
.content-course .unit-course-list .view-courses ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}



/*** Course Navigation ***/
ul.tabs li a
  {
    color: #1B335C;
  }

ul.tabs li.active ,
ul.tabs li.active:hover 
  {
    color: #9B6B3A;
  }

ul.tabs li.active a,
ul.tabs li.active a:hover
  {
    color: #9B6B3A;
  }
  
  
.coursefooter .creativecommons {
	font-size: 80%;
	border-top: 1px solid #C9CBD7;
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;  
}  
.coursefooter .creativecommons img {
	float: right;  
}
.coursefooter .creativecommons br {
	display: none; 
}


/*** ACCORDION ***/
.accordion-active {
	border: 0;
	margin-bottom: 0;
}
.views-accordion-item {clear: both;}
.accordion-content {width: 100%;}
.accordion-header-active  {
	border-bottom:1px solid #EEEEEE;
	font-weight:bold;
	color:#996633;
	background-position: right 15px !important;
}

.views-accordion-item .accordion-content div, .views-accordion-item .accordion-header {
	padding:0.5em 1em;
}

.views-accordion-item .accordion-header, h3.accordion-header {
	background: #CEDDE4 url(images/arrow.png) right -88px no-repeat;
	border-bottom:1px solid #97A6C7;
	border-top: 0;
	font-weight:bold;
}

.accordion-header, h3.accordion-header {
	color:#1B335C;
	cursor:pointer;
	display:block;
	font-size: 0.95em;
}
.accordion-header:hover {
	color:#996633;
}
.accordion-content {
	margin: 20px 0px;
	float: left;
}
.views-field-field-instructor-image-fid {
	float: left;
	margin: 0 10px 10px 0;
	width: 200px;
}
.views-field-field-instructor-image-fid p {
	font-size: 80%;
	margin:10px 0 0;
	color: #666;
}
.view-instructor .views-accordion-item {
	margin:  0 10px 1em 12px;
	padding: 0 0 1em;
	border-bottom: 3px solid #eaeaea;
	width: 730px;
	float: left;
}



.publishedinfo, .editlink {
	display: block;
	border-top: 1px solid #C9CBD7;
	border-bottom: 1px solid #C9CBD7;
	font-size: 80%;
	font-style: italic;
	margin: 10px 0 10px;
	padding: 5px 0;
	float: left;
	width: 50%;
}
.published-state {
	font-weight: normal;
	font-size: 85%;
}
.view-highlights .publishedinfo, .view-highlights .editlink {
	width: 27%;
}
.editlink {
	text-align: right;
}
.clearfloat {
	clear: left;
}




/*** Materials / ICONS ***/
.view-materials-embed {
	clear: both;
}
.view-materials .field-item,
.view-materials-embed .field-item {
	float: left;
}
.filefield-icon {
	display: none;
}
 /* Set default icon */
.view-materials .views-field-field-file-fid a,
.view-materials-embed .views-field-field-file-fid a {
	background: transparent url(icons/file.png) no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -10000em;
	float: left;
}
.view-materials .views-field-field-file-fid a.youtube,
.view-materials .views-field-field-file-fid a.external,
.view-materials-embed .views-field-field-file-fid a.youtube,
.view-materials-embed .views-field-field-file-fid a.external {
	background: none !important;
	text-indent: 0 !important;
}

.view-materials .views-field-field-file-fid a[href $='.ai'],
.view-materials-embed .views-field-field-file-fid a[href $='.ai'] { 
   background: transparent url(icons/ai.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.aiff'],
.view-materials-embed .views-field-field-file-fid a[href $='.aiff'] { 
   background: transparent url(icons/aiff.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.bz2'],
.view-materials-embed .views-field-field-file-fid a[href $='.bz2'] { 
   background: transparent url(icons/bz2.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.chm'],
.view-materials-embed .views-field-field-file-fid a[href $='.chm'] { 
   background: transparent url(icons/chm.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.conf'],
.view-materials-embed .views-field-field-file-fid a[href $='.conf'] { 
   background: transparent url(icons/conf.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.css'],
.view-materials-embed .views-field-field-file-fid a[href $='.css'] { 
   background: transparent url(icons/css.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.csv'],
.view-materials-embed .views-field-field-file-fid a[href $='.csv'] { 
   background: transparent url(icons/csv.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.divx'],
.view-materials-embed .views-field-field-file-fid a[href $='.divx'] { 
   background: transparent url(icons/divx.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.eps'],
.view-materials-embed .views-field-field-file-fid a[href $='.eps'] { 
   background: transparent url(icons/eps.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.file'],
.view-materials-embed .views-field-field-file-fid a[href $='.file'] { 
   background: transparent url(icons/file.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.flac'],
.view-materials-embed .views-field-field-file-fid a[href $='.flac'] { 
   background: transparent url(icons/flac.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.gz'],
.view-materials-embed .views-field-field-file-fid a[href $='.gz'] { 
   background: transparent url(icons/gz.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.hlp'],
.view-materials-embed .views-field-field-file-fid a[href $='.hlp'] { 
   background: transparent url(icons/hlp.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.htm'],
.view-materials-embed .views-field-field-file-fid a[href $='.htm'],
.view-materials .views-field-field-file-fid a[href $='.html'],
.view-materials-embed .views-field-field-file-fid a[href $='.html'] { 
   background: transparent url(icons/htm.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.js'],
.view-materials-embed .views-field-field-file-fid a[href $='.js'] { 
   background: transparent url(icons/js.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.odc'],
.view-materials-embed .views-field-field-file-fid a[href $='.odc'] { 
   background: transparent url(icons/odc.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.odf'],
.view-materials-embed .views-field-field-file-fid a[href $='.odf'] { 
   background: transparent url(icons/odf.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.odg'],
.view-materials-embed .views-field-field-file-fid a[href $='.odg'] { 
   background: transparent url(icons/odg.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.odi'],
.view-materials-embed .views-field-field-file-fid a[href $='.odi'] { 
   background: transparent url(icons/odi.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.odp'],
.view-materials-embed .views-field-field-file-fid a[href $='.odp'] { 
   background: transparent url(icons/odp.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.odt'],
.view-materials-embed .views-field-field-file-fid a[href $='.odt'] { 
   background: transparent url(icons/odt.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.ogg'],
.view-materials-embed .views-field-field-file-fid a[href $='.ogg'] { 
   background: transparent url(icons/ogg.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.perl'],
.view-materials-embed .views-field-field-file-fid a[href $='.perl'] { 
   background: transparent url(icons/perl.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.pgp'],
.view-materials-embed .views-field-field-file-fid a[href $='.pgp'] { 
   background: transparent url(icons/pgp.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.php'],
.view-materials-embed .views-field-field-file-fid a[href $='.php'] { 
   background: transparent url(icons/php.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.ps1'],
.view-materials-embed .views-field-field-file-fid a[href $='.ps1'] { 
   background: transparent url(icons/ps1.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.python'],
.view-materials-embed .views-field-field-file-fid a[href $='.python'] { 
   background: transparent url(icons/python.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.ram'],
.view-materials-embed .views-field-field-file-fid a[href $='.ram'] { 
   background: transparent url(icons/ram.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.rb'],
.view-materials-embed .views-field-field-file-fid a[href $='.rb'] { 
   background: transparent url(icons/rb.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.rm'],
.view-materials-embed .views-field-field-file-fid a[href $='.rm'] { 
   background: transparent url(icons/rm.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.rtf'],
.view-materials-embed .views-field-field-file-fid a[href $='.rtf'] { 
   background: transparent url(icons/rtf.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.sql'],
.view-materials-embed .views-field-field-file-fid a[href $='.sql'] { 
   background: transparent url(icons/sql.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.vcf'],
.view-materials-embed .views-field-field-file-fid a[href $='.vcf'] { 
   background: transparent url(icons/vcf.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.vsd'],
.view-materials-embed .views-field-field-file-fid a[href $='.vsd'] { 
   background: transparent url(icons/vsd.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.wma'],
.view-materials-embed .views-field-field-file-fid a[href $='.wma'] { 
   background: transparent url(icons/wma.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.wmv'],
.view-materials-embed .views-field-field-file-fid a[href $='.wmv'] { 
   background: transparent url(icons/wmv.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.xml'],
.view-materials-embed .views-field-field-file-fid a[href $='.xml'] { 
   background: transparent url(icons/xml.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.xvid'],
.view-materials-embed .views-field-field-file-fid a[href $='.xvid'] { 
   background: transparent url(icons/xvid.png) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href $='.ods'],
.view-materials-embed .views-field-field-file-fid a[href $='.ods'] { 
   background: transparent url(images/icon-ods.png) no-repeat !important;
}


.view-materials .views-field-field-file-fid a[href$='.doc'],  
.view-materials .views-field-field-file-fid a[href$='.docx'],
.view-materials-embed .views-field-field-file-fid a[href$='.doc'],
.view-materials-embed .views-field-field-file-fid a[href$='.docx'] {
	background: transparent url(images/icon_doc.gif) no-repeat  !important;
}

.view-materials .views-field-field-file-fid a[href$='.txt'],
.view-materials-embed .views-field-field-file-fid a[href$='.txt'] {
	background: transparent url(images/icon_txt.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.xls'], 
.view-materials .views-field-field-file-fid a[href$='.xlsx'],
.view-materials-embed .views-field-field-file-fid a[href$='.xls'], 
.view-materials-embed .views-field-field-file-fid a[href$='.xlsx'] {
	background: transparent url(images/icon_xls.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.rss'], 
.view-materials .views-field-field-file-fid a[href$='.atom'],
.view-materials-embed .views-field-field-file-fid a[href$='.rss'], 
.view-materials-embed .views-field-field-file-fid a[href$='.atom'] {
	background: transparent url(images/icon_feed.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.opml'],
.view-materials-embed .views-field-field-file-fid a[href$='.opml'] {
	background: transparent url(images/icon_opml.gif) no-repeat center right;
}

.view-materials .views-field-field-file-fid a[href$='.vcard'],
.view-materials-embed .views-field-field-file-fid a[href$='.vcard'] {
	background: transparent url(images/icon_vcard.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.exe'],
.view-materials-embed .views-field-field-file-fid a[href$='.exe'] {
	background: transparent url(images/icon_exe.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.dmg'], 
.view-materials .views-field-field-file-fid a[href$='.app'],
.view-materials-embed .views-field-field-file-fid a[href$='.dmg'], 
.view-materials-embed .views-field-field-file-fid a[href$='.app'] {
	background: transparent url(images/icon_dmg.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.pps'],
.view-materials .views-field-field-file-fid a[href$='.ppt'],
.view-materials-embed .views-field-field-file-fid a[href$='.pps'],
.view-materials-embed .views-field-field-file-fid a[href$='.ppt']  {
	background: transparent url(images/icon_pps.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.pdf'],
.view-materials-embed .views-field-field-file-fid a[href$='.pdf'] {
	background: transparent url(images/icon_pdf.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.xpi'],
.view-materials-embed .views-field-field-file-fid a[href$='.xpi'] {
	background: transparent url(images/icon_plugin.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.fla'], 
.view-materials .views-field-field-file-fid a[href$='.swf'],
.view-materials-embed .views-field-field-file-fid a[href$='.fla'], 
.view-materials-embed .views-field-field-file-fid a[href$='.swf'] {
	background: transparent url(images/icon_flash.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.zip'], 
.view-materials .views-field-field-file-fid a[href$='.rar'], 
.view-materials .views-field-field-file-fid a[href$='.gzip'], 
.view-materials .views-field-field-file-fid a[href$='.bzip'], 
.view-materials .views-field-field-file-fid a[href$='.ace'],
.view-materials-embed .views-field-field-file-fid a[href$='.zip'], 
.view-materials-embed .views-field-field-file-fid a[href$='.rar'], 
.view-materials-embed .views-field-field-file-fid a[href$='.gzip'], 
.view-materials-embed .views-field-field-file-fid a[href$='.bzip'], 
.view-materials-embed .views-field-field-file-fid a[href$='.ace'] {
	background: transparent url(images/icon_archive.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.ical'],
.view-materials-embed .views-field-field-file-fid a[href$='.ical'] {
	background: transparent url(images/icon_ical.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.css'],
.view-materials-embed .views-field-field-file-fid a[href$='.css'] {
	background: transparent url(images/icon_css.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.ttf'],
.view-materials-embed .views-field-field-file-fid a[href$='.ttf'] {
	background: transparent url(images/icon_ttf.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.jpg'], 
.view-materials .views-field-field-file-fid a[href$='.gif'], 
.view-materials .views-field-field-file-fid a[href$='.png'], 
.view-materials .views-field-field-file-fid a[href$='.bmp'], 
.view-materials .views-field-field-file-fid a[href$='.jpeg'], 
.view-materials .views-field-field-file-fid a[href$='.svg'], 

.view-materials-embed .views-field-field-file-fid a[href$='.jpg'], 
.view-materials-embed .views-field-field-file-fid a[href$='.gif'], 
.view-materials-embed .views-field-field-file-fid a[href$='.png'], 
.view-materials-embed .views-field-field-file-fid a[href$='.bmp'], 
.view-materials-embed .views-field-field-file-fid a[href$='.jpeg'], 
.view-materials-embed .views-field-field-file-fid a[href$='.svg'],

.view-materials .views-field-field-file-fid a[href$='.JPG'], 
.view-materials .views-field-field-file-fid a[href$='.GIF'], 
.view-materials .views-field-field-file-fid a[href$='.PNG'], 
.view-materials .views-field-field-file-fid a[href$='.BMP'], 
.view-materials .views-field-field-file-fid a[href$='.JPEG'], 
.view-materials .views-field-field-file-fid a[href$='.SVG'], 

.view-materials-embed .views-field-field-file-fid a[href$='.JPG'], 
.view-materials-embed .views-field-field-file-fid a[href$='.GIF'], 
.view-materials-embed .views-field-field-file-fid a[href$='.PNG'], 
.view-materials-embed .views-field-field-file-fid a[href$='.BMP'], 
.view-materials-embed .views-field-field-file-fid a[href$='.JPEG'], 
.view-materials-embed .views-field-field-file-fid a[href$='.SVG'] {
	background: transparent url(images/icon_pic.gif) no-repeat !important;
}
 
.view-materials .views-field-field-file-fid a[href$='.mp4'], 
.view-materials .views-field-field-file-fid a[href$='.avi'], 
.view-materials .views-field-field-file-fid a[href$='.mpg'],
.view-materials .views-field-field-file-fid a[href$='.mov'],
 
.view-materials-embed .views-field-field-file-fid a[href$='.mp4'], 
.view-materials-embed .views-field-field-file-fid a[href$='.avi'], 
.view-materials-embed .views-field-field-file-fid a[href$='.mpg'],
.view-materials-embed .views-field-field-file-fid a[href$='.mov'] {
	background: transparent url(images/icon_film.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.wav'], 
.view-materials .views-field-field-file-fid a[href$='.ogg'],  
.view-materials .views-field-field-file-fid a[href$='.m4a'],

.view-materials-embed .views-field-field-file-fid a[href$='.wav'], 
.view-materials-embed .views-field-field-file-fid a[href$='.ogg'],  
.view-materials-embed .views-field-field-file-fid a[href$='.m4a'] {
	background: transparent url(images/icon_music.gif) no-repeat !important;
}

.view-materials .views-field-field-file-fid a[href$='.torrent'],
.view-materials-embed .views-field-field-file-fid a[href$='.torrent'] {
	background: transparent url(images/icon_torrent.gif) no-repeat !important;
}




/*** Editing Node ***/
#content-area fieldset {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #BFBAB0;      
	background-color: #F2EFE9; 
}
#content-area fieldset fieldset {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #BFBAB0;      
	background-color: #FFFAEF; 
}
#content-area fieldset legend a {
	color: #9B6B3A;
	font-weight: bold;
	font-size: 120%;
	text-decoration: none;
}
#content-area .vertical-tabs fieldset {
	margin: 0;
	border: 0;
	background-color: #FFF;
}



/*** Node Referrer Nav ***/
#nodereferrer-create-main-menu  {
border-bottom:1px solid #ddd;
padding-bottom:8px;
margin: 0 0 20px 0;
}
div.nodereferrer-create-menu ul.nodereferrer-create-top-level {
margin:0;
padding:0;
}
div.nodereferrer-create-menu ul.nodereferrer-create-top-level > li {
background: #FFF;
list-style:none outside none;
margin:0 8px 0 0;
padding: 2px 5px;
font-size: 80%;
}
div.nodereferrer-create-menu ul.nodereferrer-create-top-level > li:hover {
background: #F0F4F7 !important;
}
div.nodereferrer-create-title  {
border:0;
color:#1B335C;
}
div.nodereferrer-create-items  {
background: #F0F4F7;
border:0;
margin-left:25px;
margin-top:-22px;
}
div.nodereferrer-create-items ul li a {
color:#1B335C;
font-size:90%;
text-decoration:none;
}



/*** STYLE IMPORTED FROM OLD SITE FOR CONTENT PAGES ***/
.thumbs {
	margin-top: 2em;
	margin-left: 90px;
}

.thumbBox {
	border: 1px solid #a6b6cf;
	float: left;
	width: 100px;
	padding: 4px;
	background: #ffffff url(images/thumb_bg.jpg) top left repeat-x;
	text-align: center;
	margin-right: 16px;
}

.thumbBoxCurrent {
	border: 1px solid #a6b6cf;
	float: left;
	width: 100px;
	padding: 4px;
	background: #DDDDDD top left no-repeat;
	text-align: center;
	margin-right: 16px;
}

.thumbBoxCurrent img {
	border: 1px solid #a6b6cf;
	margin-bottom: 6px;
	
}

.thumbBox img {

	border: 1px solid #a6b6cf;
	margin-bottom: 6px;
	
}

.thumbBox a {
	display: block;
	text-decoration: none;
	outline: none;
}

.cols {
	padding: 1em 0;
	width: 100%;
}

.column-button {
	float: left;
	padding: 0;
	width: 125px;
}

.column-button a {
	display: block;
	text-decoration: none;
	outline: none;
	color:#0056AE;
	font-size:120%;
	font-weight:bold;
	padding: 2px;
}

.column-button img {

	border: 1px solid #a6b6cf;
	margin-bottom: 6px;
	
}

.column-desc {
	float: left;
	padding: 0;
	width: 70%;
	min-height: 150px;

}

.thumbsHead {
	margin-top: 2em;
	width: 500px;
	min-height: 115px;
	margin-bottom: 2em;
}

.thumbsHead a {
	text-decoration: none;
	outline: none;
}

.thumbBoxHead {
	border: 1px solid #a6b6cf;
	float: left;
	width: 20%;
	padding: 2px;
	background: #ffffff url(../images/thumb_bg.jpg) top left repeat-x;
	text-align: center;
	margin-right: 16px;

}

.thumbBoxHead img {

	border: 1px solid #a6b6cf;
	margin-bottom: 6px;
	
}

.thumbBoxHead a {
	display: block;
	text-decoration: none;
	outline: none;
	color:#0056AE;
	font-size:130%;
	font-weight:bold;
	padding: 2px;
}
#listing {
	padding: 20px 0px 0px 0px;
	float: left;
}

#listing h2 {
	margin: 0 0 12px 0;
}

#listing h3 {
	margin: 18px 0px 6px 0px;
}

img.right {
	float: right;
	margin: 0 0 10px 10px;
}

img.left {
	float: left;
	margin: 0 10px 10px 0;
}

img.center {
	display: block;
	text-align: center;
}


#print-mail-form .form-item { clear: both; }


.views-admin-links { 
	margin:-5px 0 0 0 !important; 
}
.views-admin-links ul { 
	margin: 0 !important; 
}



form.views-bulk-operation-form  {
background: #333;
position:absolute;
top:-200px;
left: 0;
width:100%;
height: 150%;
z-index: 100;
padding-top: 20px;
-moz-opacity: 0.95;
opacity:.95;
filter: alpha(opacity=95);
}
form.views-bulk-operation-form > div:first-child  {
position: absolute;
top: 25%;
left: 25%;
width: 50%;
height: 50%;
padding: 16px;
border: 16px solid orange;
background: #FFF;
z-index:102;
overflow: auto;
-moz-opacity: 1.0 !important;
opacity: 1.0 !important;
filter: alpha(opacity=100) !important;
}

/* Remove feed icon from the bottom of the taxonomy page. */
.feed-icons .feed-icon {
  display: none;
}



.views-accordion-instructor-node_content_1 {clear: both;}

.views-accordion-item .accordion-content p {margin: 0 0 1em 0;}

.fake-field-content {
	font-size:1.2em;
}
.fake-field-no-content label {
	display: none;
}





.unit-course-list {
	margin-top: -30px;
}
.unit-course-list h3 {
	margin-top: 30px;
	color: #222;
}
.unit-course-list h3 a {
	text-decoration: none;
}
.unit-course-list .field-content a {
	background: url("images/bg-sidenav-arrow.png") 0 7px no-repeat;
	padding: 2px 0 5px 8px;
}

/*views-field-nothing accordion-header*/

.views-field-markup  {
	text-align: right;
}
.views-field-markup a.top-link {
	font-size: 85%;
}

.view-materials table.views-table caption a.top-link {
	font-size: 11px;
	font-weight: normal;
	float: right;
}

.Revision {
	color: red;
}
.node-unpublished {
	background-color: transparent;
}



#block-views-course_versions-block_1 h2 {
	font-size:0.95em;
	background: #CEDDE4 url(images/arrow.png) right 12px no-repeat;
	border-bottom:1px solid #97A6C7;
	font-weight:bold;
	padding:0.35em 0.8em;
	margin: 0;
}
#sidebar-left-inner #block-views-course_versions-block_1 .view-content .item-list ul {
	border-top: 0;
}
#sidebar-left-inner #block-views-course_versions-block_1 .view-content .item-list ul li a {
	background:url(images/bg-sidenav-arrow.png) 10px 7px no-repeat;
	display:block;
	font-size:100%;
	font-weight:normal;
	line-height:13px;
	padding:2px 0 5px 18px;
}


/************************************************************
*
*       Search Apachesolr
*
*************************************************************/


#content .search-results.apachesolr_search-results p.title a{
    color:#444;
    font-weight:bolder;
}
#content .apachesolr_search-results .serach_result p.information{
  margin-top: -8px;
  line-height:.1em;
 
}

#content .apachesolr_search-results .serach_result p.search-snippet {}
#content .apachesolr_search-results .serach_result p.breadcrumb {
  
  margin-top:-10px;
  line-height:1.3em;
  color:#444;
}

#content .apachesolr_search-results .serach_result p.breadcrumb a{
  
  margin-top:-10px;
  line-height:1.3em;
  color:#444;
  text-decoration: underline;
}

#content .apachesolr_search-results .serach_result{
 
  margin-bottom: 15px;
}


#main #content #content-inner #content-area .search-results.apachesolr_search-results{
	border-top-style:solid;
	border-top-color:#CCCCCC;
	padding-top:10px;
}

#main #content #content-inner #apachesolr_results_count .form-item .apachesolr_count{
	font-weight: bold;
}



.block-oer_tweaks .block-inner .content,
#block-apachesolr-sort .block-inner .content  
{
   	text-align: left;
   
}


.block-oer_tweaks .block-inner .content .item-list ul,
#block-apachesolr-sort .block-inner .content .item-list ul 
{
   	padding:0;
   
}


.block-oer_tweaks .block-inner .content .item-list ul li,
#block-apachesolr-sort .block-inner .content .item-list ul li
{
   	padding-bottom:10px;
   	text-align:left;
   
}

.block-oer_tweaks .block-inner .content .item-list ul li a,
#block-apachesolr-sort .block-inner .content .item-list ul li a

{
 	margin-bottom: 20px;
 	text-decoration: none;
 	text-align: left;
 	color:#444;
}

#block-oer_tweaks-0 .block-inner .content .item-list ul,
#block-oer_tweaks-3 .block-inner .content .item-list ul
{

	border-bottom-style:solid;
	border-bottom-color:#CCCCCC;
	padding-bottom: 10px;
	text-align: left;

}

.block-oer_tweaks .block-inner .content .item-list ul li a:hover,
.block-oer_tweaks .block-inner .content .item-list ul li a.active,
.block-oer_tweaks .block-inner .content .item-list ul li a:hover.active, 
#block-oer_tweaks-4 .block-inner .content .item-list ul li.first a:hover,
#block-oer_tweaks-4 .block-inner .content .item-list ul li.first a.active,
#block-oer_tweaks-4 .block-inner .content .item-list ul li.first a:hover.active,
#block-apachesolr-sort .block-inner .content .item-list ul li a:hover,
#block-apachesolr-sort .block-inner .content .item-list ul li a.active,
#block-apachesolr-sort .block-inner .content .item-list ul li a:hover.active
{
 	color:#963;
 	text-decoration: none;
 	text-align:left;
	background: url(images/bg-primarynav.png);

}

#block-oer_tweaks-4 .block-inner .content .item-list ul li.first a
{
 	color:#444;
}

.result-file-links
{
  padding-left: 3px;
  font-size: small;
  font-variant: small-caps;
}
