body {
	margin: 0;
	padding: 0px;
	background: #b4c5d5;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: small;
	color: #000000;
	width: 100%;
}

img {
	border: none;
}

img.right {
	float: right;
	margin: 0 0 10px 10px;
}

img.left {
	float: left;
	margin: 0 10px 10px 0;
}

img.center {
	display: block;
	text-align: center;
}

p {
	margin: 0 0 1em 0;
	line-height: 1.3em;
}

p.center {
	text-align: center;
}

a {
	font-size: small;
	color: #1b335c;
}

a:hover {
	text-decoration: none;
	color: #996633;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 .5em 0;
	color: #1b335c;
}

#headContainer {
	margin: 0px;
	min-width: 1000px;
	width: 100%;
	background: #ffffff url(../images/header_bg.jpg) top center repeat-x;
}

#header {
	text-align: right;
	width: 1000px;
	height: 200px;
	margin: 0px auto 0px auto;
	font-size: 85%;
	color: #1b335c;
}

img#openlogo {
	margin: 25px 0 0 24px;
	float: left;
}

/* :::::::::: SEARCH :::::::::: */

#search {
	float: right;
	margin-top: 8px;
	width: 200px;
}

#search form {
	margin: 0;

}

#search legend {
	display: none;
}

#search fieldset {
	border: none;
	margin: 0;
	padding: 0px;
}

#search label {
	display: none;
}

#search input.searchInput {
	font-size: 100%;
	margin: 0;
	padding: 2px;
	width: 164px;
	border: 1px solid #a3acb5;
	vertical-align: middle;
}

#search input.searchGo {
	vertical-align: middle;
	margin: 0 0 0px 4px;
}

/* :::::::::: HEADER LINKS :::::::::: */

ul#headerLinks {
	margin: 0;
	padding: 12px 4px 0 0;
	list-style: none;
}

ul#headerLinks li {
	display: inline;
	margin: 0;
	padding: 0px;
}

ul#headerLinks li.lc {
	margin: 0 2px 0 6px;
}

ul#headerLinks li a {
	font-size: 100%;
	text-decoration: none;
	font-weight: bold;
	border-right: 1px solid #1b335c;
	padding: 0 9px 0 6px;
}

/* delete after search is live 
ul#headerLinks li.lc {
	margin-right: 0px;
}

ul#headerLinks li a {
	border: none;
	padding: 0;
}
/*end delete after search is live */

#tagline {
	margin-top: 24px;
	clear: right;
	float: right;
	width: 450px;
	height: 25px;
	display: block;
	background: transparent url(../images/connecting.gif) top right no-repeat;
}

#contentContainer {
	margin: 0px;
	min-width: 1000px;
	width: 100%;
	min-height: 139px;
	background: #ffffff url(../images/content_bg.gif) bottom center repeat-x;
	padding-bottom: 2em;
	text-align: left;
	color: #666666;
}

#content, #contentBox {
	width: 1000px;
	/*background: silver;*/
	margin: 0px auto 0px auto;
}

#sidebar {
	width: 140px;
	float: left;
	margin: 0;
	padding: 0;
	text-align: right;
}

#rightSidebar {
	float: right;
	width: 236px;
	vertical-align: top;
}

#rightSidebar h1 {
	font-size: large;
	font-weight: normal;
	color: #996600;
}

#rightSidebar h3 a {
	color: #996600;
	line-height: auto;
	text-decoration: none;
}

#rightSidebar h1 a {
	text-decoration: none;
	font-size: large;
	color: #996600;
}

#rightSidebar h1 a:hover,
#rightSidebar h3 a:hover {
	color: #b1b9c8;
}

#rightSidebar p {
	font-size: 90%;
}

#rightSidebar p a {
	font-size: 100%;
	text-decoration: none;
}

h2.shaded {
	background: url(../images/h2shade_bg.gif) top left repeat-y;
	margin: .5em 0 .2em 0;
}

h2.shaded a {
	display: block;
	padding: 4px;
	text-decoration: none;
	background: url(../images/h2shade_a.gif) top left no-repeat;
}

/* :::::::::: MENU :::::::::: */

ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

ul.menu li {
	* height: 1%;
}

ul.menu li a {
	display: block;
	text-decoration: none;
	text-transform: lowercase;
	border-bottom: 1px solid #c9cbd7;
	font-weight: bold;
	font-size: 110%;
	padding: 4px 6px 4px 26px;
}

ul.menu a:hover {
	/*color: #606d8d;*/
	/*background: url(../images/menu_bg.gif) bottom left repeat-x;*/
}

ul.menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.menu ul a {
	padding: 0px 6px 4px 38px;
	border: none;
	font-size: 100%;
	background: url(../images/submenu_bg.gif) 26px 0.4em no-repeat;
	color: #7088b2;
}

ul.menu ul a:hover {
	background: url(../images/submenus-bg-over.gif) 26px 0.4em no-repeat;
	color: #996633;
}

ul.menu li.lc {
	border-bottom: 1px solid #c9cbd7;
}

/* :::::::::: BODY CONTENT :::::::::: */

#bodyContent {
	width: 812px;
	min-height: 346px;
	padding: 0px 24px 24px 24px;
	float: left;
}

#contentContainer.home #bodyContent {
	width: 576px;
}

#bodyContent h1,
#bodyContent h2 {
	font-weight: normal;
	margin-bottom: .4em;
}

#bodyContent h2 {
	font-size: 130%;
	font-weight: bold;
	color: #0056ae;
}

#bodyContent h3 {
	font-size: 95%;
	color: #0056ae;
}

#bodyContent li {
	margin: 0 0 .4em 0;
}

#bodyContent ul,
#bodyContent ol {
	margin-top: 0;
}

#bodyContent a:visited {
	/*color: #7088b2;*/
}

dt {
	margin: 0 0 .2em 0;
}

dd {
	margin: 0 0 1em 1.5em;
}

hr {
	height: 1px;
	font-size: 1px;
	margin: 0 0 12px 0;
	padding: 0;
	border: none;
	background: #9daeca;
	clear: right;
}

p.intro {
	font-size: 1.1em;
	margin: 0 22px 1em 24px;
}

p.top {
	clear: left;
	text-transform: uppercase;
	margin-top: 2em;
}

p.top a {
	display: block;
	font-size: 85%;
	text-decoration: none;
	padding-left: 11px;
	background: url(../images/top-off.gif) 0 0.5em no-repeat;
}

p.top a:hover {
	background: url(../images/top-on.gif) 0 0.5em no-repeat;
}

#bodyContent ul ul,
#bodyContent ul ol,
#bodyContent ol ul,
#bodyContent ol ol {
	margin-top: .4em;
	margin-bottom: 1em;
}

#bodyContent h3 a {
	font-size: 120%;
	text-decoration: none;
}

.noJSBox {
	display: block;
	margin: 0 0 1em 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #d7d7d7;
}

/* :::::::::: FOOTER :::::::::: */

#footerContainer {
	clear: both;
	margin: 0px;
	padding: 0px;
	min-width: 1000px;
	width: 100%;
	min-height: 103px;
	background: #b4c5d5 url(../images/footer_bg.jpg) top center repeat-x;
	padding-top: 60px;
}

#footer {
	text-align: left;
	padding: 0px 0px 0px 24px;
	width: 976px;
	margin: 0px auto 0px auto;
	font-size: 85%;
}

#footerL {
	float: left;
}

img#umlogo {
	display: block;
	margin-bottom: 7px;
}

img#cclogo {
	display: block;
	float: right;
}

#footer p.cc {
	display: block;
	float: right;
	width: 300px;
	clear: none;
	padding: 0;
	margin-right: 10px;
}

#footer p.copy {
	display: block;
	float: right;
	width: 300px;
	clear: right;
	padding: 0;
	margin-right: 10px;
}

img#ocwclogo {
	display: block;
	float: right;
	margin: 8px 10px 0 0px;
}

#footer p {
	padding-top: 12px;
	clear: both;
}

#footer p a {
	font-size: 100%;
	text-decoration: none;
}

#footer p a:hover {
	color: #666666;
}

#boxesBlock {
	height: 319px;
	display: block;
}

/* :::::::::: TAB NAV :::::::::: */

#tabBox {
	background: url(../images/tabBox_bg.gif) bottom left repeat-x;
	/*margin: 0 75px 0 45px;*/
	margin: 0 57px 0 70px;
}

ul#tabNav,
ul#filter {
	margin: 0 0 0 96px;
	/*margin: 0;*/
	padding: 10px;
	list-style: none;
}

ul#tabNav li {
	position: relative;
	margin: 0;
	padding: 0px;
	float: left;
}

ul#tabNav li a {
	display: block;
	padding: 4px 12px;
	/*border-bottom: 1px solid #9daeca;*/
	text-decoration: none;
	color: #000066;
}

ul#tabNav li a:visited,
p#filters a:visited {
	color: #000066;
}

p#filters {
	clear: left;
	padding-top: 1em;
	text-align: center;
	margin:  0 24px 0 166px;
	font-size: 85%;
}

p#filters a {
	display: block;
	float: left;
	padding: 3px 6px;
}

a#group1FeaturedLink,
a#group2FeaturedLink,
a#group3FeaturedLink {
	font-weight: bold;
}

ul#tabNav ul {
	visibility: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 10;
	left: 0;
	top: 2.2em;
	width: 150px;
	list-style: none;
}

ul#tabNav ul li {
	float: none;
}

body#group1 li#group1LI,
body#group2 li#group2LI,
body#group3 li#group3LI {
	background: url(../images/tabL.gif) top left no-repeat;
}

body#group1 a#group1A,
body#group2 a#group2A,
body#group3 a#group3A {
	background: transparent url(../images/tabR.gif) top right no-repeat;
	border-bottom: 1px solid #fff;
}

/* turn off and on card submenus based on dynamic body tag */
body#group1 ul#tabNav ul#group2CardMenu, /* group 1 */
body#group1 ul#tabNav ul#group3CardMenu {
	visibility: hidden;
}

body#group1 ul#tabNav ul#group1CardMenu {
	visibility: visible;
}

body#group2 ul#tabNav ul#group1CardMenu, /* group 2 */
body#group2 ul#tabNav ul#group3CardMenu {
	visibility: hidden;
}

body#group2 ul#tabNav ul#group2CardMenu {
	visibility: visible;
}

body#group3 ul#tabNav ul#group1CardMenu, /* group 3 */
body#group3 ul#tabNav ul#group2CardMenu {
	visibility: hidden;
}

body#group3 ul#tabNav ul#group3CardMenu {
	visibility: visible;
}


#tabBox ul ul li {
	* height: 1%;
}

ul#tabNav li a:hover {
	color: #996633;
}

/* :::::::::: MISC :::::::::: */

.callout {
	display: block;
	width: 180px;
	border: 1px solid #7088b2;
	background: #ffffff;
	float: right;
	margin: 0 0 18px 24px;
}

.clearer {
	clear:both;
	height:1px;
	font-size:1px;
	border:none;
	margin:0;
	padding:0;
	background:transparent;
}

#tabClear {
	clear: both;
	height: 4px;
	border-top: 1px solid #9daeca;
	margin: -1px 60px 0 60px;
	padding: 0;
}

body.home a#homeNav,
body.about a#aboutNav,
body.find a#educationNav,
body.create a#createNav,
body.participate a#partNav,
body.contact a#contactNav {
	color: #996600;
}

/* turn off submenus initially */
ul.menu ul {
	display: none;
}

/* turn on appropriate submenu */
body.about ul#aboutMenu,
body.create ul#createMenu,
body.participate ul#partMenu,
body.contact ul#contactMenu {
	display: block;
}

/* remove borders on nav items with a submenu */
body.create a#createNav,
body.participate a#partNav {
	border: none;
}

/* sticky subpages */
body#create1 a#create1Nav,
body#create2 a#create2Nav,
body#create3 a#create3Nav,
body#create4 a#create4Nav,
body#ed1 a#ed1Nav,
body#ed2 a#ed2Nav,
body#ed3 a#ed3Nav,
body#part1 a#part1Nav,
body#part2 a#part2Nav,
body#part3 a#part3Nav {
	background: url(../images/submenus-bg-over.gif) 26px 0.4em no-repeat;
	color: #996633;
}

/* hide card container. js file will show them. If no JS, they
remain hidden and noscript content displayed. This must be here to validate XHTML */
#cardContainer {
	display: none;
}

span.error {
	color: red;
	font-weight: bold;
}


/* group links */

ul.groupLinks {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	background: white;
}

ul.groupLinks li {
	float: left;
	margin: 0;
	padding: 0px;
	background: #ffffff url(../images/grouplinks_bg.gif) bottom left repeat-x;
	border-right: 3px solid white;
}

ul.groupLinks li.lc {
	/*border-right: 1px solid #a6b6cf;*/
}

ul.groupLinks li a {
	display: block;
	padding: 2px 8px;
	text-decoration: none;
	font-size: 95%;
	border: 1px solid #a6b6cf;
	/*background: #ecf0f4;*/
}

ul.groupLinks li a.lc {
	/*border-right: 1px solid #a6b6cf;*/
}

ul.groupLinks li a.ext {
	background: url(../images/ext.gif) center right no-repeat;
	padding-right: 23px;
	/*margin-right: 2px;*/
}

ul.groupLinks li a.pdf {
	background: url(../images/pdf.gif) center right no-repeat;
	padding-right: 24px;
}


p.footnote {
	clear: left;
	font-size: 85%;
}

.imgCapR {
	float: right;
	margin: 0 0 2em 2em;
}

img.mainImg {
	display: block;
	padding: 8px;
	background: #ffffff;
	border: 1px solid #91a5c3;
}

.imgCapR p {
	font-size: x-small;
	margin-bottom: 0;
}

.imgCapR a {
	font-size: x-small;
	text-decoration: none;
}

.thumbs {
	margin-top: 2em;
	margin-left: 90px;
}

.thumbBox {
	border: 1px solid #a6b6cf;
	float: left;
	width: 100px;
	padding: 4px;
	background: #ffffff url(../images/thumb_bg.jpg) top left repeat-x;
	text-align: center;
	margin-right: 16px;
}

.thumbBox img {

	border: 1px solid #a6b6cf;
	margin-bottom: 6px;
	
}

.thumbBox a {
	display: block;
	text-decoration: none;
}

p.xsmall {
	font-size: x-small;
}

p.xsmall a {
	font-size: x-small;
	text-decoration: none;
}

blockquote {
	margin: 0 2em 1em 2em;
}

.recentPost {
	margin-top: 4px;
	padding: 2px 0;
	border-top: 1px solid #e5edf2;
	font-size: 0.85em;
}

.recentPost a {
	text-decoration: none;
}

#blogPic {
	float: right;
	padding: 0 0 1em 1em;
	width: 66px;
	background: #fff;
}


/* :::::::::: PRINT ONLY :::::::::: */

#printContent {
	display: none;
}