/* $Id: */
/**
 * @file style sheet for Weight module.
 */

.weight-selector {
  display: inline;
  position: relative;
  float: left;
/*  margin: 0 0 0 5px; */
}

#node-admin-nodes td a {
  margin-right: 3px;
}

#weight-settings-form .form-checkboxes .form-item label {
  width: 24%;
  float: left;  
}

#weight-settings-form  .description {
  clear: both;  
}